[Unit]
Description=Daily Midnight Reboot (Smart)
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/smart-reboot.sh
